<div id="footer_wrap" >
    <div id="footer">
        <div class="footer_navi">
            <ul class="menu">
                <!--{volist name="recBottom" id="cate"}-->
                <!--<li id="menu-item-156" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-156">-->
                    <!--<a href="http://127.0.0.1/bick/public/index.php/index/{if condition="$cate['type'] eq 1"}artlist{elseif condition="$cate['type'] eq 3" /}imglist{else /}page{/if}/index/cateid/{$cate.id}" target="_blank">{$cate.catename}</a></li>-->
                <!--{/volist}-->
         
            </ul>
        </div>
        <div class="footer_info">
            <span class="legal">Copyright &#169; 2016-2020 ThinkPHP5.0版权所有&#160;&#160;&#160;<a href="#">
                琼ICP备******号</a>&#160;&#160;&#160;

        </div>
    </div>
</div>

<div style="display: none;" id="scroll">
</div>

</body>
</html>
