<!-- 头部 -->
{include file="public/top" /}

<!-- /头部 -->
<div class="main-container" id="main-container">
    <!-- left -->
    {include file="public/left" /}
    <!-- /left -->
    <!-- /section:basics/sidebar -->
    <div class="main-content">
        <div class="main-content-inner">
            <!-- #section:basics/content.breadcrumbs -->
            <div class="breadcrumbs" id="breadcrumbs">
                <script type="text/javascript">
                    try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
                </script>
                <ul class="breadcrumb">
                    <li>
                        <i class="ace-icon fa fa-home home-icon"></i> <a href="#">首页</a>
                    </li>
                    <li><a href="#">系统设置</a></li>
                    <li class="active">新增角色</li>
                </ul>
                <div class="nav-search" id="nav-search">
                    <form class="form-search">
								<span class="input-icon">
									<input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
									<i class="ace-icon fa fa-search nav-search-icon"></i>
								</span>
                    </form>
                </div><!-- /.nav-search -->
            </div>

            <div class="page-content" >
                <div class="page-header">
                    <div class="row">
                        <div class="col-md-6">
                            <h1>
                                新增角色
                                <small>
                                    <i class="ace-icon fa fa-angle-double-right"></i>
                                    添加角色
                                </small>
                            </h1>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12" >
                        <div class="page-header">
                            <div class="row">
                                <div class="col-md-6">
                                    <button type="button" class="btn  btn-info btn-round" onclick="window.location.href='{:url("Sysconfig/Index")}'">返回</button>
                                </div>

                            </div>
                        </div>
                        <div style="background-color: #f5f5f5;padding:25px">
                            <form id="theform" action="midycp.php?action=profile" method="post">
                            <input type="hidden" name="formhash" value="e8106e75">
                            <table class="table no-border" width="100%" cellspacing="0" cellpadding="0">
                                <tbody>
                                    <tr>
                                        <th >名称</th>
                                        <td>
                                            <input  id="set_oldpass" type="text" size="30" datatype="s3-8"   errormsg="名称至少3个字符,最多8个字符" nullmsg="名称不能为空" value="{$list.rolename|default=''}" name="rolename">
                                        </td>
                                    </tr>
                                    <tr>
                                        <th >描述</th>
                                        <td><input datatype="s3-8"   errormsg="名称至少3个字符,最多8个字符" nullmsg="名称不能为空" id="set_newpass" type="text" size="30"  value="{$list.description|default=''}" name="description"></td>
                                    </tr>
                                    <tr>
                                        <th class="left-th">权限分配</th>
                                    </tr>
                                </tbody>
                            </table>
                            <table class="table " width="100%" cellspacing="0" cellpadding="0">
                                <tbody>
                                <tr >
                                    <th class='paddingr' width="40xp"> <label><input class="ace" type="checkbox" name="chkall_index" onclick="checkall(this.form, 'item')"><span class="lbl">首页</span></label></th>
                                </tr>
                                <tr>
                                    <th  class='paddingr' width="40xp"><label><input class="ace" type="checkbox" name="chkall" onclick="checkall(this.form, 'item')"><span class="lbl">数据管理</span></label>
                                    <div style="margin-left: 25px;padding:4px">
                                        <label> <input class="ace" type="checkbox" name="item[]" value="1" /><span class="lbl">创建数据源 </span></label>
                                    </div>
                                    <div style="margin-left: 25px;padding:4px">
                                        <label> <input class="ace" type="checkbox" name="item[]" value="2" /><span class="lbl">创建数据源 1111</span></label>
                                    </div>
                                    </th>
                                </tr>
                                </tbody>
                            </table>
                            <div class="row" style="margin:20px auto">
                                <div class="col-xs-12 align-center">
                                    <input type="submit" name="thevaluesubmit" value="提交保存" class="btn btn-info input-small" onclick="this.form.action+='&subtype=comments';">
                                    <input type="reset" class="btn btn-light input-small" name="thevaluereset" value="重置">
                                </div>
                            </div>
                        </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        $("#theform").Validform(
            {
                tiptype:4,
                ajaxPost:true,
            }


        );
    </script>