<!-- 头部 -->
{include file="public/top" /}
<!-- /头部 -->
<div class="main-container" id="main-container">
    <!-- left -->
    {include file="public/left" /}
    <!-- /left -->
    <!-- /section:basics/sidebar -->
    <div class="main-content">
        <div class="main-content-inner">
            <!-- #section:basics/content.breadcrumbs -->
            <div class="breadcrumbs" id="breadcrumbs">
                <script type="text/javascript">
                    try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
                </script>
                <ul class="breadcrumb">
                    <li>
                        <i class="ace-icon fa fa-home home-icon"></i> <a href="#">首页</a>
                    </li>
                    <li><a href="#">系统设置</a></li>
                    <li class="active">权限设置</li>
                </ul>
                <div class="nav-search" id="nav-search">
                    <form class="form-search">
								<span class="input-icon">
									<input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
									<i class="ace-icon fa fa-search nav-search-icon"></i>
								</span>
                    </form>
                </div><!-- /.nav-search -->
            </div>
            <div class="page-content">
                <div class="page-header">
                    <div class="row">
                        <div class="col-md-6">
                            <h1>
                                权限设置
                                <small>
                                    <i class="ace-icon fa fa-angle-double-right"></i>
                                    查看和编辑权限
                                </small>
                            </h1>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="page-header">
                            <div class="row">
                                <div class="col-md-6">
                                    <button type="button" class="btn  btn-info btn-round" onclick="window.location.href='{:url("Sysconfig/AddRole")}'">新增角色</button>
                                </div>

                            </div>
                        </div><!-- /.page-header -->
                        <div class="space-12"></div>
                        <table cellspacing="0" cellpadding="0" width="100%" class="table table-striped table-bordered table-hover">
                            <tbody>
                                <tr>
                                    <th>ID</th>
                                    <th>角色名</th>
                                    <th>描述</th>
                                    <th>操作</th>
                                </tr>
                                <!--数据行-->
                                <tr>
                                    <td>1</td>
                                    <td>jay</td>
                                    <td>123456</td>
                                    <td>
                                        <button type="button" class="btn btn-mini btn-info tooltip-warning btn-round" onclick="window.location.href='{:url("Sysconfig/EditRole",array("rid"=>1))}'" ><i class="ace-icon fa fa-pencil-square-o "></i>编辑</button>
                                        <button class="btn btn-mini btn-warning tooltip-warning btn-round  " type="button" window.location.href='{:url("Sysconfig/BanRole",array("rid"=>1))}'"><i class="ace-icon fa fa-ban "></i> 禁用</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                </div>
            </div>
        </div><!-- /.page-content -->
    </div>
</div><!-- /.main-content -->
</div><!-- /.main-container -->

<script>

    function validate (theform){
        var addusername = $('#addusername').val();
        var adduserpwd = $('#adduserpwd').val();
        if(addusername == '' ){
            alert('用户名不能为空');
            return false;
        }
        if(adduserpwd == '' ){
            alert('密码不能为空');
            return false;
        }
        return true;
    }
    function edit_validate (theform){
        var editusername = $('#editusername').val();
        var editpwd = $('#editpwd').val();

        if(editusername == '' ){
            alert('用户名不能为空');
            return false;
        }
        if(editpwd == '' ){
            alert('密码不能为空');
            return false;
        }
        return true;
    }


</script>