<!-- 头部 -->
{include file="public/top" /}
<style>
    .outside{
        position: relative;
        color:#fff;
        text-align:center;
    }
    .desc{
        position: absolute;
        left:45px;
        top:5px;
        font-size:19px;
    }
    .num{
        position: absolute;
        left:39%;
        top:38%;
        font-size:30px
    }
</style>
<script src="__ADMIN__/js/echarts.common.min.js"></script>
<!-- /头部 -->
<div class="main-container" id="main-container">
    <!-- left -->
    {include file="public/left" /}
    <!-- /left -->


    <!-- /section:basics/sidebar -->
    <div class="main-content">
        <div class="main-content-inner">
            <!-- #section:basics/content.breadcrumbs -->
            <div class="breadcrumbs" id="breadcrumbs">
                <script type="text/javascript">
                    try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
                </script>
                <ul class="breadcrumb">
                    <li>
                        <i class="ace-icon fa fa-home home-icon"></i>
                        <a href="#">首页</a>
                    </li>
                </ul><!-- /.breadcrumb -->
                <!-- #section:basics/content.searchbox -->

                <!-- /section:basics/content.searchbox -->
            </div>
            <!-- /section:basics/content.breadcrumbs -->
            <div class="page-content" style="">
                <!-- /section:settings.box -->
                <div class="page-header">
                    <h1>
                        首页
                        <small>
                            <i class="ace-icon fa fa-angle-double-right"></i>
                            首页
                        </small>
                    </h1>
                </div><!-- /.page-header -->

                <div class="row" >
                    <div class="col-xs-12">
                        <div >
                            <form class="form-search" method="get" action="http://www.finndy.test/midycp.php">
<span class="input-icon">
<input name="cnameandid" type="text" placeholder="搜索数据源ID或名称" class="nav-search-input" id="nav-search-input" autocomplete="off">
<i class="ace-icon fa fa-search nav-search-icon"></i>
</span>
                                <input type="hidden" name="action" value="robots">&nbsp;&nbsp;&nbsp;
                                <button class="btn btn-xs btn-info btn-round input-mini" type="submit">&nbsp;查看&nbsp;</button>
                            </form>
                        </div>
                        <!--<div >-->
                            <!--<div class="col-xs-12 " style="margin-top:20px">-->
                                <!--<div class="col-md-6" style="text-align:left">-->
                                    <!--<span style="font-size:19px">采集数据总量</span>-->
                                <!--</div>-->
                                <!--<div class="col-md-6" style="text-align:right">-->

                                        <!--<select name="" id="">-->
                                            <!--<option value="1">按天</option>-->
                                            <!--<option value="2">按时</option>-->
                                        <!--</select>-->

                                <!--</div>-->
                            <!--</div>-->
                            <!--<div id="main" style="width:1700;height:400px;"></div>-->
                        <!--</div>-->
                        <div class="widget-box transparent">
                            <div class="widget-header widget-header-flat">
                                <h4 class="widget-title lighter">
                                    <i class="ace-icon fa fa-signal"></i>
                                    采集数据总量
                                </h4>

                                <div class="widget-toolbar">
                                    <select name="" id="">
                                    <option value="1">按天</option>
                                    <option value="2">按时</option>
                                    </select>
                                </div>
                            </div>

                            <div class="widget-body" style="display: block;">
                                <div class="widget-main padding-4">
                                    <div id="main" style="width:1700;height:400px;"></div>
                                </div><!-- /.widget-main -->
                            </div><!-- /.widget-body -->
                        </div>
                        <!--<div   style="margin-top:60px">-->
                            <!--<div class="col-xs-12 clear">-->
                                <!--<div class="col-md-3 outside" >-->
                                   <!--<div>-->
                                       <!--<img src="__ADMIN__/image/p1.jpg" alt="">-->
                                   <!--</div>-->
                                    <!--<div class="desc">-->
                                        <!--当前数据源总数-->
                                    <!--</div>-->
                                    <!--<div class="num">-->
                                        <!--1500-->
                                    <!--</div>-->
                                <!--</div>-->
                                <!--<div class="col-md-3 outside">-->
                                    <!--<img src="__ADMIN__/image/p2.jpg" alt="">-->
                                    <!--<div  class="desc">-->
                                        <!--今日新增数据源数-->
                                    <!--</div>-->
                                    <!--<div class="num">-->
                                        <!--1500-->
                                    <!--</div>-->
                                <!--</div>-->
                                <!--<div class="col-md-3 outside">-->
                                    <!--<img src="__ADMIN__/image/p3.jpg" alt="">-->
                                    <!--<div class="desc">-->
                                        <!--总用户数-->
                                    <!--</div>-->
                                    <!--<div class="num">-->
                                        <!--1500-->
                                    <!--</div>-->
                                <!--</div>-->
                                <!--<div class="col-md-3 outside">-->
                                    <!--<img src="__ADMIN__/image/p4.jpg" alt="">-->
                                    <!--<div class="desc">-->
                                        <!--新增用户数-->
                                    <!--</div>-->
                                    <!--<div class="num">-->
                                    <!--1500-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                        <div class="col-xs-12">
                            <!-- PAGE CONTENT BEGINS -->
                            <div>
                                <ul class="ace-thumbnails clearfix">
                                    <li>
                                        <a href="assets/images/gallery/image-1.jpg" title="Photo Title" data-rel="colorbox" class="cboxElement">
                                            <img width="150" height="150" alt="150x150" src="assets/images/gallery/thumb-1.jpg">
                                        </a>

                                        <div class="tags">
												<span class="label-holder">
													<span class="label label-info">breakfast</span>
												</span>

                                            <span class="label-holder">
													<span class="label label-danger">fruits</span>
												</span>

                                            <span class="label-holder">
													<span class="label label-success">toast</span>
												</span>

                                            <span class="label-holder">
													<span class="label label-warning arrowed-in">diet</span>
												</span>
                                        </div>

                                        <div class="tools">
                                            <a href="#">
                                                <i class="ace-icon fa fa-link"></i>
                                            </a>

                                            <a href="#">
                                                <i class="ace-icon fa fa-paperclip"></i>
                                            </a>

                                            <a href="#">
                                                <i class="ace-icon fa fa-pencil"></i>
                                            </a>

                                            <a href="#">
                                                <i class="ace-icon fa fa-times red"></i>
                                            </a>
                                        </div>
                                    </li>

                                    <li>
                                        <a href="assets/images/gallery/image-2.jpg" data-rel="colorbox" class="cboxElement">
                                            <img width="150" height="150" alt="150x150" src="assets/images/gallery/thumb-2.jpg">
                                            <div class="text">
                                                <div class="inner">Sample Caption on Hover</div>
                                            </div>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="assets/images/gallery/image-3.jpg" data-rel="colorbox" class="cboxElement">
                                            <img width="150" height="150" alt="150x150" src="assets/images/gallery/thumb-3.jpg">
                                            <div class="text">
                                                <div class="inner">Sample Caption on Hover</div>
                                            </div>
                                        </a>

                                        <div class="tools tools-bottom">
                                            <a href="#">
                                                <i class="ace-icon fa fa-link"></i>
                                            </a>

                                            <a href="#">
                                                <i class="ace-icon fa fa-paperclip"></i>
                                            </a>

                                            <a href="#">
                                                <i class="ace-icon fa fa-pencil"></i>
                                            </a>

                                            <a href="#">
                                                <i class="ace-icon fa fa-times red"></i>
                                            </a>
                                        </div>
                                    </li>

                                    <li>
                                        <a href="assets/images/gallery/image-4.jpg" data-rel="colorbox" class="cboxElement">
                                            <img width="150" height="150" alt="150x150" src="assets/images/gallery/thumb-4.jpg">
                                            <div class="tags">
													<span class="label-holder">
														<span class="label label-info arrowed">fountain</span>
													</span>

                                                <span class="label-holder">
														<span class="label label-danger">recreation</span>
													</span>
                                            </div>
                                        </a>

                                        <div class="tools tools-top">
                                            <a href="#">
                                                <i class="ace-icon fa fa-link"></i>
                                            </a>

                                            <a href="#">
                                                <i class="ace-icon fa fa-paperclip"></i>
                                            </a>

                                            <a href="#">
                                                <i class="ace-icon fa fa-pencil"></i>
                                            </a>

                                            <a href="#">
                                                <i class="ace-icon fa fa-times red"></i>
                                            </a>
                                        </div>
                                    </li>

                                    <li>
                                        <div>
                                            <img width="150" height="150" alt="150x150" src="assets/images/gallery/thumb-5.jpg">
                                            <div class="text">
                                                <div class="inner">
                                                    <span>Some Title!</span>

                                                    <br>
                                                    <a href="assets/images/gallery/image-5.jpg" data-rel="colorbox" class="cboxElement">
                                                        <i class="ace-icon fa fa-search-plus"></i>
                                                    </a>

                                                    <a href="#">
                                                        <i class="ace-icon fa fa-user"></i>
                                                    </a>

                                                    <a href="#">
                                                        <i class="ace-icon fa fa-share"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>

                                    <li>
                                        <a href="assets/images/gallery/image-6.jpg" data-rel="colorbox" class="cboxElement">
                                            <img width="150" height="150" alt="150x150" src="assets/images/gallery/thumb-6.jpg">
                                        </a>

                                        <div class="tools tools-right">
                                            <a href="#">
                                                <i class="ace-icon fa fa-link"></i>
                                            </a>

                                            <a href="#">
                                                <i class="ace-icon fa fa-paperclip"></i>
                                            </a>

                                            <a href="#">
                                                <i class="ace-icon fa fa-pencil"></i>
                                            </a>

                                            <a href="#">
                                                <i class="ace-icon fa fa-times red"></i>
                                            </a>
                                        </div>
                                    </li>

                                    <li>
                                        <a href="assets/images/gallery/image-1.jpg" data-rel="colorbox" class="cboxElement">
                                            <img width="150" height="150" alt="150x150" src="assets/images/gallery/thumb-1.jpg">
                                        </a>

                                        <div class="tools">
                                            <a href="#">
                                                <i class="ace-icon fa fa-link"></i>
                                            </a>

                                            <a href="#">
                                                <i class="ace-icon fa fa-paperclip"></i>
                                            </a>

                                            <a href="#">
                                                <i class="ace-icon fa fa-pencil"></i>
                                            </a>

                                            <a href="#">
                                                <i class="ace-icon fa fa-times red"></i>
                                            </a>
                                        </div>
                                    </li>

                                    <li>
                                        <a href="assets/images/gallery/image-2.jpg" data-rel="colorbox" class="cboxElement">
                                            <img width="150" height="150" alt="150x150" src="assets/images/gallery/thumb-2.jpg">
                                        </a>

                                        <div class="tools tools-top in">
                                            <a href="#">
                                                <i class="ace-icon fa fa-link"></i>
                                            </a>

                                            <a href="#">
                                                <i class="ace-icon fa fa-paperclip"></i>
                                            </a>

                                            <a href="#">
                                                <i class="ace-icon fa fa-pencil"></i>
                                            </a>

                                            <a href="#">
                                                <i class="ace-icon fa fa-times red"></i>
                                            </a>
                                        </div>
                                    </li>
                                </ul>
                            </div><!-- PAGE CONTENT ENDS -->
                        </div>
                </div><!-- /.page-content -->
            </div>
             </div><!-- /.main-content -->



        </div>
    </div><!-- /.main-container -->
</div>
<!-- basic scripts -->

<!--[if !IE]> -->
<script type="text/javascript">
    window.jQuery || document.write("<script src='__ADMIN__/js/jquery.js'>"+"<"+"/script>");
</script>
    <script type="text/javascript">
        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('main'));

        option = {
            xAxis: {
                type: 'category',
                data: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']
            },
            yAxis: {
                type: 'value'
            },
            series: [{
                data: [820, 932, 901, 934, 1290, 1330, 1320],
                type: 'line'
            }]
        };


        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
    </script>
<!-- <![endif]-->

<!--[if IE]>
