<!-- 头部 -->
{include file="public/top" /}
<style>
    .outside{
        position: relative;
        color:#fff;
        text-align:center;
    }
    .desc{
        position: absolute;
        left:45px;
        top:5px;
        font-size:19px;
    }
    .num{
        position: absolute;
        left:39%;
        top:38%;
        font-size:30px
    }
</style>
<script src="__ADMIN__/js/echarts.common.min.js"></script>
<!-- /头部 -->
<div class="main-container" id="main-container">
    <!-- left -->
    {include file="public/left" /}
    <!-- /left -->


    <!-- /section:basics/sidebar -->
    <div class="main-content">
        <div class="main-content-inner">
            <!-- #section:basics/content.breadcrumbs -->
            <div class="breadcrumbs" id="breadcrumbs">
                <script type="text/javascript">
                    try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
                </script>
                <ul class="breadcrumb">
                    <li>
                        <i class="ace-icon fa fa-home home-icon"></i>
                        <a href="#">首页</a>
                    </li>
                </ul><!-- /.breadcrumb -->
                <!-- #section:basics/content.searchbox -->

                <!-- /section:basics/content.searchbox -->
            </div>
            <!-- /section:basics/content.breadcrumbs -->
            <div class="page-content" style="">
                <!-- /section:settings.box -->
                <div class="page-header">
                    <h1>
                        首页
                        <small>
                            <i class="ace-icon fa fa-angle-double-right"></i>
                            首页
                        </small>
                    </h1>
                </div><!-- /.page-header -->

                <div class="row" style="padding:19px 100px 24px">
                    <div class="col-xs-12">
                        <!-- PAGE CONTENT BEGINS -->

                        <div >
                            <form class="form-search" method="get" action="http://www.finndy.test/midycp.php">
<span class="input-icon">
<input name="cnameandid" type="text" placeholder="搜索数据源ID或名称" class="nav-search-input" id="nav-search-input" autocomplete="off">
<i class="ace-icon fa fa-search nav-search-icon"></i>
</span>
                                <input type="hidden" name="action" value="robots">&nbsp;&nbsp;&nbsp;
                                <button class="btn btn-xs btn-info btn-round input-mini" type="submit">&nbsp;查看&nbsp;</button>
                            </form>
                        </div>
                        <div >
                            <div class="col-xs-12 " style="margin-top:20px">
                                <div class="col-md-6" style="text-align:left">
                                    <span style="font-size:19px">采集数据总量</span>
                                </div>
                                <div class="col-md-6" style="text-align:right">

                                        <select name="" id="">
                                            <option value="1">按天</option>
                                            <option value="2">按时</option>
                                        </select>

                                </div>
                            </div>
                            <div id="main" style="width:1700;height:400px;"></div>
                        </div>
                        <div   style="margin-top:60px">
                            <div class="col-xs-12 clear">
                                <div class="col-md-3 outside" >
                                   <div>
                                       <img src="__ADMIN__/image/p1.jpg" alt="">
                                   </div>
                                    <div class="desc">
                                        当前数据源总数
                                    </div>
                                    <div class="num">
                                        1500
                                    </div>
                                </div>
                                <div class="col-md-3 outside">
                                    <img src="__ADMIN__/image/p2.jpg" alt="">
                                    <div  class="desc">
                                        今日新增数据源数
                                    </div>
                                    <div class="num">
                                        1500
                                    </div>
                                </div>
                                <div class="col-md-3 outside">
                                    <img src="__ADMIN__/image/p3.jpg" alt="">
                                    <div class="desc">
                                        总用户数
                                    </div>
                                    <div class="num">
                                        1500
                                    </div>
                                </div>
                                <div class="col-md-3 outside">
                                    <img src="__ADMIN__/image/p4.jpg" alt="">
                                    <div class="desc">
                                        新增用户数
                                    </div>
                                    <div class="num">
                                    1500
                                </div>
                            </div>
                            </div>
                        </div>
                </div><!-- /.page-content -->
            </div>
             </div><!-- /.main-content -->



        </div>
    </div><!-- /.main-container -->
</div>
<!-- basic scripts -->

<!--[if !IE]> -->
<script type="text/javascript">
    window.jQuery || document.write("<script src='__ADMIN__/js/jquery.js'>"+"<"+"/script>");
</script>
    <script type="text/javascript">
        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('main'));

        option = {
            xAxis: {
                type: 'category',
                data: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']
            },
            yAxis: {
                type: 'value'
            },
            series: [{
                data: [820, 932, 901, 934, 1290, 1330, 1320],
                type: 'line'
            }]
        };


        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
    </script>
<!-- <![endif]-->

<!--[if IE]>
