<!-- 头部 -->
{include file="public/top" /}
<style>
    #vip-list{padding: 0px;overflow: hidden;position: relative; height: 130px; MARGIN: 0 -10PX;}
    a{text-decoration:none;}
    a:link{text-decoration:none;}
    a:visited{text-decoration:none;}
    a:hover{text-decoration:none;}
    a:active{text-decoration:none;}


</style>
<!-- /头部 -->
<div class="main-container" id="main-container">
    <!-- left -->
    {include file="public/left" /}
    <!-- /left -->
    <!-- /section:basics/sidebar -->
    <div class="main-content">
        <div class="main-content-inner">
            <!-- #section:basics/content.breadcrumbs -->
            <div class="breadcrumbs" id="breadcrumbs">
                <script type="text/javascript">
                    try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
                </script>
                <ul class="breadcrumb">
                    <li>
                        <a href="#">我的面板</a>
                    </li>
                </ul><!-- /.breadcrumb -->
                <div class="nav-search" id="nav-search">
                    <form class="form-search">
								<span class="input-icon">
									<input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
									<i class="ace-icon fa fa-search nav-search-icon"></i>
								</span>
                    </form>
                </div><!-- /.nav-search -->
            </div>



            <div class="page-content">
                <div class="page-header">
                    <div class="row">
                        <div class="col-md-6">
                            <h1>
                                我的账户

                            </h1>
                        </div>

                    </div>
                </div><!-- /.page-header -->
                <div class="col-xs-12 col-sm-3 center">
                    <div>
                        <!-- #section:pages/profile.picture -->
                        <span class="profile-picture">
            <img id="avatar0" class="editable img-responsive editable-click editable-empty" alt="" src="__ADMIN__/image/profile-pic.jpg"></img>
        </span>
                        <!-- /section:pages/profile.picture -->
                        <div class="space-2"></div>
                        <div class="width-80 label label-primary label-xlg arrowed-in arrowed-in-right">
                            <div class="inline position-relative">
                                <a href="#" class="user-title-label dropdown-toggle" data-toggle="dropdown">
                                    <i class="ace-icon fa fa-circle light-green"></i>
                                    &nbsp;
                                    <span class="white">1111</span>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="space-2"></div>

                    <!-- #section:pages/profile.contact -->
                    <div class="profile-contact-info">
                        <div class="profile-contact-links">
                            <div class="profile-info-row">
                                <div class="profile-info-name" style="width: 50%"> 上次登录: </div>
                                <div class="profile-info-value"> $lastlogin</div>
                            </div>

                            <div class="profile-info-row">
                                <div class="profile-info-name" style="width: 50%">注册时间: </div>
                                <div class="profile-info-value">   </div>
                            </div>

                            <!--<a href="#" class="btn btn-link smaller-90">-->
                            <!--<i class="ace-icon fa fa-home pink bigger-120"></i>来自：-->
                            <!--我来自地球村-->
                            <!--</a>-->

                            <!--<a href="#" class="btn btn-link smaller-90">-->
                            <!--<i class="ace-icon fa fa-user green bigger-120 "></i>-->
                            <!--性别：未知-->
                            <!--</a>-->

                            <!--<a href="#" class="btn btn-link smaller-90">-->
                            <!--<i class="ace-icon fa fa-globe bigger-120 blue"></i>-->
                            <!--简介：让数据更有价值-->
                            <!--</a>-->
                        </div>

                        <div class="space-6"></div>

                    </div>

                    <!-- /section:pages/profile.contact -->

                </div>
                <div class="col-xs-12 col-sm-9">
                    <div class="profile-user-info profile-user-info-striped">
                        <div class="profile-info-row">
                            <div class="profile-info-name"> 用户名 </div>

                            <div class="profile-info-value">$[supe_username_show] &nbsp;</div>
                        </div>
                        <div class="profile-info-row">
                            <div class="profile-info-name"> 昵称 </div>

                            <div class="profile-info-value">$[supe_username_show] &nbsp;</div>
                        </div>

                        <div class="profile-info-row">
                            <div class="profile-info-name"> 权限 </div>

                            <div class="profile-info-value">$[supe_username_show] &nbsp;</div>
                        </div>
                        <div class="profile-info-row">
                            <div class="profile-info-name"> 密码 </div>

                            <div class="profile-info-value"><a href="{:url('User/Resetpwd')}">修改密码</a>&nbsp;</div>
                        </div>

                        <div class="profile-info-row">
                            <div class="profile-info-name"> 头像 </div>
                            <div class="widget-body">
                                <div class="widget-main">
                                    <div class="form-group">
                                        <div class="col-xs-12">
                                            <!-- #section:custom/file-input -->
                                            <label class="ace-file-input"><input type="file" id="id-input-file-2"><span class="ace-file-container" data-title="Choose"><span class="ace-file-name" data-title="No File ..."><i class=" ace-icon fa fa-upload"></i></span></span><a class="remove" href="#"><i class=" ace-icon fa fa-times"></i></a></label>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-xs-12">
                                            <label class="ace-file-input ace-file-multiple"><input multiple="" type="file" id="id-input-file-3"><span class="ace-file-container" data-title="Drop files here or click to choose"><span class="ace-file-name" data-title="No File ..."><i class=" ace-icon ace-icon fa fa-cloud-upload"></i></span></span><a class="remove" href="#"><i class=" ace-icon fa fa-times"></i></a></label>

                                            <!-- /section:custom/file-input -->
                                        </div>
                                    </div>

                                    <!-- #section:custom/file-input.filter -->

                                    <!-- /section:custom/file-input.filter -->
                                </div>
                            </div>
                            <div class="profile-info-value">$[supe_username_show] &nbsp;</div>
                        </div>

                        <div class="profile-info-row">
                            <div class="profile-info-name"> 云采集引擎 </div>

                            <div class="profile-info-value">

                                <span class="label label-success">LV1</span>

                                &nbsp;

                                <span class="grey middle"><i class="fa fa-calendar"></i> 永不到期</span>

                                &nbsp;
                                <button onclick="window.location.href=''" class="btn btn-mini btn-white btn-info middle" type="button" style="padding:3px 6px;">续费/升级</button>

                            </div>
                        </div>





                    </div>
                    <div class="space-12"></div>
                </div>
            </div><!-- /.page-content -->


        </div>
    </div><!-- /.main-content -->




</div><!-- /.main-container -->

