<!doctype html>
<html>
<head>
<meta charset="utf-8">
<style>
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote {
    margin: 0;
    padding: 0;
}
body {
    font-family: "Bitstream Vera Sans Mono", "Helvetica Neue", Helvetica, "Hiragino Sans GB", Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    color: #737373;
    margin: 10px 13px 10px 13px;
}
a {
    color: #0069d6;
}
a:hover {
    color: #0050a3;
    text-decoration: none;
}
a img {
    border: none;
}
p {
    margin-bottom: 9px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #404040;
    line-height: 36px;
}
h1 {
    margin-bottom: 18px;
    font-size: 30px;
}
h2 {
    font-size: 18px;
}
h3 {
    font-size: 14px;
}
h4 {
    font-size: 16px;
}
h5 {
    font-size: 14px;
}
h6 {
    font-size: 13px;
}
hr {
    margin: 0 0 19px;
    border: 0;
    border-bottom: 1px solid #ccc;
}
blockquote {
    padding: 13px 13px 21px 15px;
    margin-bottom: 18px;
    font-family:georgia,serif;
    font-style: italic;
}
blockquote:before {
    content:"\201C";
    font-size:40px;
    margin-left:-10px;
    font-family:georgia,serif;
    color:#eee;
}
blockquote p {
    font-size: 14px;
    font-weight: 300;
    line-height: 18px;
    margin-bottom: 0;
    font-style: italic;
}
code, pre {
    font-family: Monaco, Andale Mono, Courier New, monospace;
}
code {
    background-color: #fee9cc;
    color: rgba(0, 0, 0, 0.75);
    padding: 1px 3px;
    font-size: 12px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
pre {
    display: block;
    padding: 14px;
    margin: 0 0 18px;
    line-height: 16px;
    font-size: 11px;
    border: 1px solid #d9d9d9;
    white-space: pre-wrap;
    word-wrap: break-word;
}
pre code {
    background-color: #fff;
    color:#737373;
    font-size: 11px;
    padding: 0;
}
@media screen and (min-width: 768px) {
    body {
        width: 748px;
        margin:10px auto;
    }
}
</style>
<title>发源地云采集服务条款</title>
</head>
<body>
<h2>发源地云采集服务条款</h2>
<BR>
<HR>
<p>欢迎使用发源地云采集终端（<span lang=EN-US>http://www.finndy.com</span>以下简称发源地），发源地是国内领先的数据交易平台，依据《发源地云采集服务条款》（以下简称<span
        lang=EN-US>“</span>本协议<span lang=EN-US>”</span>）的规定提供服务，本协议具有合同效力。用户注册时，请您认真阅读本协议，审阅并接受或不接受本协议。</p>

<p>如您已经注册为发源地用户，即表示您已充分阅读、理解并同意自己与发源地订立本协议，且您自愿受本协议的条款约束。发源地有权随时变更本协议并在发源地上予以公告。经修订的条款一经在发源地的公布后，立即自动生效。如您不同意相关变更，必须停止使用所有发源地产品。本协议内容包括协议正文及所有发源地网已经发布的各类规则。所有规则为本协议不可分割的一部分，与本协议正文具有同等法律效力。一旦您继续使用任何发源地产品，则表示您已接受并自愿遵守经修订后的条款。</p>

<p><span lang=EN-US><o:p>&nbsp;</o:p></span></p>

<p><strong><span style='font-family:宋体'>第一条</span></strong> 发源地用户</p>

<p><span lang=EN-US><o:p>&nbsp;</o:p></span></p>

<p><span lang=EN-US>1</span>、只有符合下列条件之一的自然人或企业法人才能申请成为发源地用户，可以使用发源地的服务：</p>

<p><span lang=EN-US>A</span>、年满十八岁，并具有民事权利能力和民事行为能力的自然人；　　</p>

<p><span lang=EN-US>B</span>、根据中国法律、法规、行政规章成立并合法存在的机关、企事业单位、社团组织和其它组织。无法人资格的单位或组织不当注册为发源地用户的，其与发源地之间的协议自始无效，发源地一经发现，有权立即终止对该用户的服务，并追究其使用发源地服务的一切法律责任。</p>

<p><span lang=EN-US>2</span>、用户需要提供明确的联系电话和联系方式，并提供真实姓名或名称。</p>

<p><span lang=EN-US>3</span>、发源地用户须承诺遵守法律法规、社会主义制度、国家利益、公民合法权益、公共秩序、社会道德风尚和信息真实性。</p>

<p><span lang=EN-US><o:p>&nbsp;</o:p></span></p>

<p><strong><span style='font-family:宋体'>第二条</span></strong> 用户的权利和义务</p>

<p><span lang=EN-US><o:p>&nbsp;</o:p></span></p>

<p><span lang=EN-US>1</span>、用户有权根据本协议及发源地发布的相关规则，利用发源地发布需求信息、查询需求信息、参与需求服务接单，参加发源地的有关活动及有权享受发源地提供的其它有关资讯及信息服务；</p>

<p><span lang=EN-US>2</span>、 用户须自行负责自己的用户账号和密码，且须对在用户账号密码下发生的所有活动（包括但不限于发布需求信息、网上点击同意各类协议、规则、参与需求投标等）
    承担责任。用户有权根据需要更改登录和账户提现密码。因用户的过错导致的任何损失由用户自行承担，该过错包括但不限于：不按照交易提示操作，未及时进行交易操作，遗忘或泄漏密码，密码被他人破解，用户使用的计算机被他人侵入；</p>

<p><span lang=EN-US>3</span>、用户应当向发源地提供真实准确的注册信息，包括但不限于真实姓名、身份证号、联系电话、地址、邮政编码等。保证发源地可以通过上述联系方式与自己进行联系。同时，用户也应当在相关资料实际变更时及时更新有关注册资料；</p>

<p><span lang=EN-US>4</span>、 用户在发源地注册的账号名称，不得有下列情形：</p>

<p>（一）违反宪法或法律法规规定的；</p>

<p>（二）危害国家安全，泄露国家秘密，颠覆国家政权，破坏国家统一的；</p>

<p>（三）损害国家荣誉和利益的，损害公共利益的；</p>

<p>（四）煽动民族仇恨、民族歧视，破坏民族团结的；</p>

<p>（五）破坏国家宗教政策，宣扬邪教和封建迷信的；</p>

<p>（六）散布谣言，扰乱社会秩序，破坏社会稳定的；</p>

<p>（七）散布淫秽、色情、赌博、暴力、凶杀、恐怖或者教唆犯罪的；</p>

<p>（八）侮辱或者诽谤他人，侵害他人合法权益的；</p>

<p>（九）含有法律、行政法规禁止的其它内容的。</p>

<p><span lang=EN-US>5</span>、用户不得以虚假信息骗取账号名称注册，或其账号头像、简介等注册信息存在违法和不良信息；</p>

<p><span lang=EN-US>6</span>、用户不得冒用、关联机构或社会名人注册账号名称；</p>

<p><span lang=EN-US>7</span>、用户不得以任何形式擅自转让或授权他人使用自己在发源地的用户帐号（实名认证通过后，不能进行变更）；</p>

<p><span lang=EN-US>8</span>、用户有义务确保在发源地上发布的数据源或需求信息真实、准确，无误导性；　</p>

<p><span lang=EN-US><o:p>&nbsp;</o:p></span></p>

<p><span lang=EN-US>9</span>、用户在发源地上发布数据源或需求信息，不得违反国家法律、法规、行政规章的规定、不得侵犯他人知识产权或其它合法权益的信息、不得传播销售他人的个人敏感信息、不得违背社会公共利益或公共道德、不得违反发源地网的相关规定；</p>

<p><span lang=EN-US>10</span>、用户在发源地交易中应当遵守诚实信用原则，不得以干预或操纵发布需求等不正当竞争方式扰乱网上交易秩序，不得从事与网上交易无关的不当行为；</p>

<p><span lang=EN-US>11</span>、用户不应采取不正当手段（包括但不限于虚假需求、互换好评等方式）提高自身或他人信用度，或采用不正当手段恶意评价其它用户，降低其它用户信用度；</p>

<p><span lang=EN-US>12</span>、用户不得违反《银行卡业务管理办法》使用银行卡，或利用信用卡套取现金（以下简称套现）；</p>

<p><span lang=EN-US>13</span>、用户承诺自己在使用发源地实施的所有行为遵守法律、法规、行政规章和发源地的相关规定以及各种社会公共利益或公共道德。如有违反导致任何法律后果的发生，用户将以自己的名义独立承担相应的法律责任；</p>

<p><span lang=EN-US>14</span>、用户在发源地网上交易过程中如与其它用户因交易产生纠纷，可以请求发源地从中予以协调处理。用户如发现其它用户有违法或违反本协议的行为，可以向发源地举报；</p>

<p><span lang=EN-US>15</span>、除发源地网另有规定外，用户应当自行承担因交易产生的相关费用，并依法纳税；</p>

<p><span lang=EN-US>16</span>、未经发源地书面允许，用户不得将发源地的任何资料以及在交易平台上所展示的任何信息作商业性利用（包括但不限于以复制、修改、翻译等形式制作衍生作品、分发或公开展示）；</p>

<p><span lang=EN-US>17</span>、用户不得使用以下方式登录网站或破坏网站所提供的服务：</p>

<p><span lang=EN-US>A</span>、以任何爬虫软件、自动采集软件或其它自动方式访问或登录发源地；</p>

<p><span lang=EN-US>B</span>、通过任何方式对本公司内部结构造成或可能造成不合理或不合比例的重大负荷的行为；</p>

<p><span lang=EN-US>C</span>、通过任何方式干扰或试图干扰网站的正常工作或网站上进行的任何活动。</p>

<p><span lang=EN-US>18</span>、用户有权在同意发源地相关规则的前提下享受消费者保障服务（包括但不限于诚信保证、保证原创、三个月维护、免费修改等）；　</p>

<p><span lang=EN-US>19</span>、用户同意接收来自发源地的信息，包括但不限于活动信息、交易信息、促销信息等。</p>

<p><span lang=EN-US><o:p>&nbsp;</o:p></span></p>

<p><strong><span style='font-family:宋体'>第三条</span></strong> 发源地网的权利和义务</p>

<p><span lang=EN-US><o:p>&nbsp;</o:p></span></p>

<p><span lang=EN-US>1</span>、发源地仅为用户提供一个供求撮合平台，是需求方发布需求和服务商提供解决方案的一个交易市场，发源地对交易双方均不加以监视或控制，亦不介入交易的过程；</p>

<p><span lang=EN-US>2</span>、发源地有义务在现有技术水平的基础上努力确保整个网上交易平台的正常运行，尽力避免服务中断或将中断时间限制在最短时间内，保证用户网上交易活动的顺利进行；</p>

<p><span lang=EN-US>3</span>、发源地有义务对用户在注册使用发源地信息平台中所遇到的与交易或注册有关的问题及反映的情况及时作出回复；　</p>

<p><span lang=EN-US>4</span>、发源地有权对用户的注册资料进行审查，对存在任何问题或怀疑的注册资料，发源地有权发出通知询问用户并要求用户做出解释、改正；</p>

<p><span lang=EN-US>5</span>、 用户因在发源地网上交易与其它用户产生纠纷的，用户将纠纷告知发源地，或发源地知悉纠纷情况的，经审核后，发源地有权通过电子邮件及电话联系向纠纷双方了解纠纷情况，并将所了解的情况通过电子邮件互相通知对方；用户通过司法机关依照法定程序要求发源地提供相关资料，发源地将积极配合并提供有关资料；</p>

<p><span lang=EN-US>6</span>、因网上信息平台的特殊性，发源地不承担对所有用户的交易行为以及与交易有关的其它事项进行事先审查的义务，但如发生以下情形，发源地有权无需征得用户的同意限制用户的活动、向用户核实有关资料、发出警告通知、暂时中止、无限期中止及拒绝向该用户提供服务：</p>

<p><span lang=EN-US>A</span>、用户以非自然人名义进行认证之后认证主体自行注销或者经有权机关吊销或撤销的；</p>

<p><span lang=EN-US>B</span>、用户违反本协议或因被提及而纳入本协议的相关规则；</p>

<p><span lang=EN-US>C</span>、存在用户或其它第三方通知发源地，认为某个用户或具体交易事项存在违法或不当行为，并提供相关证据，而发源地无法联系到该用户核证或验证该用户向发源地提供的任何资料；</p>

<p><span lang=EN-US>D</span>、存在用户或其它第三方通知发源地，认为某个用户或具体交易事项存在违法或不当行为，并提供相关证据。发源地以普通非专业人员的知识水平标准对相关内容进行判别，可以明显认为这些内容或行为可能对他方或发源地造成财务损失或承担法律责任；</p>

<p><span lang=EN-US><o:p>&nbsp;</o:p></span></p>

<p><span lang=EN-US>7</span>、 根据国家法律、法规、行政规章规定、本协议的内容和发源地所掌握的事实依据，可以认定该用户存在违法或违反本协议行为以及在发源地交易平台上的其它不当行为，发源地有权无需征得用户的同意在发源地交易平台及所在网站上以网络发布形式公布该用户的违法行为，并有权随时作出删除相关信息、终止服务提供等处理；</p>

<p><span lang=EN-US>8</span>、发源地依据本协议及相关规则，可以冻结、使用、先行赔付、退款、处置用户缴存并冻结在发源地账户内的积分。因违规而被封号的用户账户中的积分在按照规定进行处置后尚有余额的，该用户可申请提现；</p>

<p><span lang=EN-US>9</span>、 发源地有权在不通知用户的前提下，删除或采取其它限制性措施处理下列信息：包括但不限于侵犯个人隐私的；以炒作信用为目的；存在欺诈等恶意或虚假内容；与网上交易无关或不是以交易为目的；存在恶意竞价或其它试图扰乱正常交易秩序因素；违反公共利益或可能严重损害发源地和其它用户合法利益。</p>

<p><span lang=EN-US><o:p>&nbsp;</o:p></span></p>

<p><strong><span style='font-family:宋体'>第四条</span></strong> 服务的中断和终止</p>

<p><span lang=EN-US><o:p>&nbsp;</o:p></span></p>

<p><span lang=EN-US>1</span>、 发源地可自行全权决定以任何理由<span lang=EN-US>(</span>包括但不限于发源地认为用户已违反本协议及相关规则的字面意义和精神，或用户在超过<span
        lang=EN-US>180</span>日内未登录发源地等<span lang=EN-US>)</span>终止对用户的服务，并有权在两年内保存用户在发源地的全部资料（包括但不限于用户信息、产品信息、交易信息等）。同时发源地可自行全权决定，在发出通知或不发出通知的情况下，随时停止提供全部或部分服务。服务终止后，发源地没有义务为用户保留原账户中或与之相关的任何信息，或转发任何未曾阅读或发送的信息给用户或第三方；</p>

<p><span lang=EN-US>2</span>、若用户申请终止发源地服务，需经发源地审核同意，方可解除与发源地的协议关系，但发源地仍保留下列权利：</p>

<p><span lang=EN-US>A</span>、发源地有权在法律、法规、行政规章规定的时间内保留该用户的资料<span lang=EN-US>,</span>包括但不限于以前的用户资料、交易记录等；</p>

<p><span lang=EN-US>B</span>、若终止服务之前，该用户在发源地交易平台上存在违法行为或违反本协议的行为，发源地仍可行使本协议所规定的权利。</p>

<p><span lang=EN-US>3</span>、用户存在下列情况，发源地可以终止向该用户提供服务：</p>

<p><span lang=EN-US>A</span>、在用户违反本协议及相关规则规定时，发源地有权终止向该用户提供服务。发源地将在中断服务时通知用户。但该用户在被发源地终止提供服务后，再一次直接或间接或以他人名义注册为发源地用户的，发源地有权再次单方面终止为该用户提供服务；</p>

<p><span lang=EN-US>B</span>、发源地发现用户注册资料中主要内容是虚假的，发源地有权随时终止为该用户提供服务；</p>

<p><span lang=EN-US>C</span>、本协议终止或更新时，用户未确认新的协议的；</p>

<p><span lang=EN-US>D</span>、其它发源地认为需终止服务的情况。</p>

<p><span lang=EN-US><o:p>&nbsp;</o:p></span></p>

<p><strong><span style='font-family:宋体'>第五条</span></strong> 发源地的责任范围</p>

<p>当用户接受该协议时，用户应当明确了解并同意：</p>

<p><span lang=EN-US><o:p>&nbsp;</o:p></span></p>

<p><span lang=EN-US>1</span>、发源地不能随时预见到任何技术上的问题或其它困难。该等困难可能会导致数据损失或其它服务中断。发源地是在现有技术基础上提供的服务。发源地不保证以下事项<span
        lang=EN-US>∶</span></p>

<p><span lang=EN-US>A</span>、发源地将符合所有用户的要求；</p>

<p><span lang=EN-US>B</span>、发源地不受干扰、能够及时提供、安全可靠或免于出错；</p>

<p><span lang=EN-US>C</span>、本服务使用权的取得结果是正确或可靠的。</p>

<p><span lang=EN-US>2</span>、是否经由发源地下载或取得任何资料，由用户自行考虑、衡量并且自负风险，因下载任何资料而导致用户电脑系统的任何损坏或资料流失，用户应负完全责任。希望用户在使用发源地时，小心谨慎并运用常识；</p>

<p><span lang=EN-US>3</span>、用户经由发源地取得的建议和资讯，无论其形式或表现，绝不构成本协议未明示规定的任何保证；　</p>

<p><span lang=EN-US>4</span>、基于以下原因而造成的利润、商誉、使用、资料损失或其它无形损失，发源地不承担任何直接、间接、附带、特别、衍生性或惩罚性赔偿（即使发源地已被告知前款赔偿的可能性）：</p>

<p><span lang=EN-US>A</span>、发源地的使用或无法使用；</p>

<p><span lang=EN-US>B</span>、用户的传输或资料遭到未获授权的存取或变更；　　</p>

<p><span lang=EN-US>C</span>、发源地中任何第三方之声明或行为；　 </p>

<p><span lang=EN-US>D</span>、发源地在服务交易中为用户提供交易机会，推荐交易方；</p>

<p><span lang=EN-US>E</span>、发源地其它相关事宜。</p>

<p><span lang=EN-US>5</span>、发源地是为用户提供一个服务交易的平台，对于用户所发布的需求的合法性、真实性及其品质，以及用户履行交易的能力等，发源地一律不负任何担保责任；</p>

<p><span lang=EN-US>6</span>、 发源地提供与其它互联网上的网站或资源的链接，用户可能会因此连结至其它运营商经营的网站，但不表示发源地与这些运营商有任何关系。其它运营商经营的网站均由各经营者自行负责，不属于发源地控制及负责范围之内。对于存在或来源于此类网站或资源的任何内容、广告、物品或其它资料，发源地亦不予保证或负责。因使用或依赖任何此类网站或资源发布的或经由此类网站或资源获得的任何内容、物品或服务所产生的任何损害或损失，发源地不负任何直接或间接的责任。</p>

<p><span lang=EN-US><o:p>&nbsp;</o:p></span></p>

<p><strong><span style='font-family:宋体'>第六条</span></strong> 知识产权</p>

<p><span lang=EN-US><o:p>&nbsp;</o:p></span></p>

<p><span lang=EN-US>1</span>、 发源地及发源地所使用的任何相关软件、程序、内容，包括但不限于作品、图片、档案、资料、网站构架、网站版面的安排、网页设计、经由发源地或广告商向用户呈现的广告或资讯，均由发源地或其它权利人依法享有相应的知识产权，包括但不限于著作权、商标权、专利权或其它专属权利等，受到相关法律的保护。未经本网站或权利人明示授权，用户保证不修改、出租、出借、出售、散布发源地及发源地所使用的上述任何资料和资源，或根据上述资料和资源制作成任何种类产品；</p>

<p><span lang=EN-US>2</span>、 发源地授予用户不可转移及非专属的使用权，使用户可以通过单机计算机使用发源地的目标代码（以下简称<span
        lang=EN-US>&quot;</span>软件<span lang=EN-US>&quot;</span>），但用户不得且不得允许任何第三方复 制、修改、创作衍生作品、进行还原工程、反向组译，或以其它方式破译或试图破译源代码，或出售、转让<span
        lang=EN-US>&quot;</span>软件<span lang=EN-US>&quot;</span>或对<span lang=EN-US>&quot;</span>软件<span
        lang=EN-US>&quot;</span>进行再授权，或以其它方式移转<span lang=EN-US>&quot;</span>软件<span
        lang=EN-US>&quot;</span>之任何权利。用户同意不以任何方式修改<span lang=EN-US>&quot;</span>软件<span
        lang=EN-US>&quot;</span>，或使用修改后的<span lang=EN-US>&quot;</span>软件<span
        lang=EN-US>&quot;</span>；</p>

<p><span lang=EN-US>3</span>、用户不得经由非发源地所提供的界面使用发源地。</p>

<p><span lang=EN-US><o:p>&nbsp;</o:p></span></p>

<p><strong><span style='font-family:宋体'>第七条</span></strong> 隐私权</p>

<p><span lang=EN-US><o:p>&nbsp;</o:p></span></p>

<p><span lang=EN-US>1</span>、信息使用：</p>

<p><span lang=EN-US>A</span>、发源地不会向任何人出售或出借用户的个人或法人信息，除非事先得到用户得许可；</p>

<p><span lang=EN-US>B</span>、发源地亦不允许任何第三方以任何手段收集、编辑、出售或者无偿传播用户的个人或法人信息。任何用户如从事上述活动，一经发现，发源地有权立即终止与该用户的服务协议，查封其账号。</p>

<p><span lang=EN-US>2</span>、信息披露：用户的个人或法人信息将在下述情况下部分或全部被披露：</p>

<p><span lang=EN-US>A</span>、经用户同意，向第三方披露；</p>

<p><span lang=EN-US>B</span>、用户在使用发源地过程中涉及到知识产权类纠纷，有他方主张权利的，发源地在审核主张方提交的资料后认为披露用户信息有助于纠纷解决的；</p>

<p><span lang=EN-US>C</span>、根据法律的有关规定，或者行政、司法机关的要求，向第三方或者行政、司法机关披露；</p>

<p><span lang=EN-US>D</span>、若用户出现违反中国有关法律或者网站规定的情况，需要向第三方披露；</p>

<p><span lang=EN-US>E</span>、为提供你所要求的产品和服务，而必须和第三方分享用户的个人或法人信息；</p>

<p><span lang=EN-US>F</span>、其它发源地根据法律或者网站规定认为合适的披露。</p>

<p><span lang=EN-US><o:p>&nbsp;</o:p></span></p>

<p><span lang=EN-US>3</span>、信息安全：</p>

<p><span lang=EN-US>A</span>、在使用发源地服务进行网上交易时，请用户妥善保护自己的个人或法人信息，仅在必要的情形下向他人提供；</p>

<p><span lang=EN-US>B</span>、如果用户发现自己的个人或法人信息泄密，尤其是用户账户或<span lang=EN-US>“</span>支付账户管理<span
        lang=EN-US>”</span>账户及密码发生泄露，请用户立即联络发源地客服，以便我们采取相应措施。</p>

<p><span lang=EN-US><o:p>&nbsp;</o:p></span></p>

<p><strong><span style='font-family:宋体'>第八条</span></strong> 不可抗力</p>

<p>因不可抗力或者其它意外事件，使得本协议的履行不可能、不必要或者无意义的，双方均不承担责任。本合同所称之不可抗力意指不能预见、不能避免并不能克服的客观情况，包括但不限于战争、台风、水灾、火灾、雷击或地震、罢工、暴动、法定疾病、黑客攻击、网络病毒、电信部门技术管制、政府行为或任何其它自然或人为造成的灾难等客观情况。</p>

<p><span lang=EN-US><o:p>&nbsp;</o:p></span></p>

<p><strong><span style='font-family:宋体'>第九条</span></strong> 保密</p>

<p>用户保证在使用发源地过程中所获悉的属于发源地网及他方的且无法自公开渠道获得的文件及资料（包括但不限于商业秘密、公司计划、运营活动、财务信息、技术信息、经营信息及其它商业秘密）予以保密。未经该资料和文件的原提供方同意，用户不得向第三方泄露该商业秘密的全部或者部分内容。但法律、法规、行政规章另有规定或者双方另有约定的除外。</p>

<p><span lang=EN-US><o:p>&nbsp;</o:p></span></p>

<p><strong><span style='font-family:宋体'>第十条</span></strong> 交易纠纷解决方式</p>

<p><span lang=EN-US><o:p>&nbsp;</o:p></span></p>

<p><span lang=EN-US>1</span>、本协议及其规则的有效性、履行和与本协议及其规则效力有关的所有事宜，将受中华人民共和国法律管辖，任何争议仅适用中华人民共和国法律；</p>

<p><span lang=EN-US>2</span>、 发源地有权受理并调处您与其它用户因交易服务产生的纠纷，同时有权单方面独立判断其它用户对您的举报及索偿是否成立，若判断索偿成立，则发源地有权划拨您已支付的担保金或交纳的保证金以及账户余额进行相应偿付。发源地没有使用自用资金进行偿付的义务，但若进行了该等支付，您应及时赔偿发源地的全部损失，否则发源地有权通过前述方式抵减相应资金或权益，如仍无法弥补损失，则发源地保留继续追偿的权利。因发源地非司法机关，您完全理解并承认，发源地对证据的鉴别能力及对纠纷的处理能力有限，受理交易纠纷完全是基于您之委托，不保证处理结果符合您的期望，发源地有权决定是否参与争议的调处；</p>

<p><span lang=EN-US>3</span>、凡因履行本协议及其规则发生的纠纷以及在发源地网上交易产生的所有纠纷，各方可协商解决，若协商不成的，各方一致同意提交相关国家仲裁部门按其仲裁规则进行仲裁。</p>

<p><span lang=EN-US>&nbsp;</span></p>

<p><strong><span style='font-family:宋体'>第十一条</span></strong> 完整协议</p>

<p>本协议与发源地公示的各项规则相关名词可互相引用参照。</p>

<p>您对本协议理解和认同，您即对本协议所有组成部分的内容理解并认同，一旦您使用本服务，你和本公司即受本协议所有组成部分的约束。</p>

<p><span lang=EN-US><o:p>&nbsp;</o:p></span></p>

<p><strong><span style='font-family:宋体'>第十二条</span></strong> 发源地网对本服务条款包括基于本服务条款制定的各项规则拥有最终解释权。</p>
<BR></body>
</html>