<!-- 头部 -->
{include file="public/top" /}
<!-- /头部 -->
<div class="main-container" id="main-container">
    <!-- left -->
    {include file="public/left" /}
    <!-- /left -->
    <!-- /section:basics/sidebar -->
    <div class="main-content">
        <div class="main-content-inner">
            <!-- #section:basics/content.breadcrumbs -->
            <div class="breadcrumbs" id="breadcrumbs">
                <ul class="breadcrumb">
                    <li>
                        <i class="ace-icon fa fa-home home-icon"></i> <a href="#">首页</a>
                    </li>
                    <li><a href="#">用户管理</a></li>
                    <li class="active">用户组设置</li>
                </ul>
                <!-- /.nav-search -->
            </div>
            <div class="page-content">
                <div class="page-header">
                    <div class="row">
                        <div class="col-md-6">
                            <h1>
                                用户组设置
                                <small>
                                    <i class="ace-icon fa fa-angle-double-right"></i>
                                    查看管理用户组
                                </small>
                            </h1>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="page-header">
                            <div class="row">
                                <div class="col-md-6">

                                    <button type="button" class="btn  btn-info btn-sm btn-round"  onclick="javascript:window.location.href= '{:url('authgroup/add')}' ">新增用户组</button>
                                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
                                        <div class="modal-dialog" role="document">

                                            <div class="modal-content" style="width:350px;margin:180px auto" >
                                                <div class="modal-body">
                                                    <div class="modal-header">
                                                        <h4 class="modal-title" id="myModalLabel"> 添加用户组</h4></div><br>
                                                    <form action="{:url('authgroup/add')}" method="POST" id="addsubmit" onsubmit="return validate(this)">
                                                        <div class="form-group" >
                                                            <label  for class="control-label ml35">用户组名:</label>
                                                            <input type="text" class="form-control inputstyle" id="addusername" name="title" >
                                                        </div>
                                                        <div class="form-group" >
                                                            <label  for class="control-label ml35">用户组描述:</label>
                                                            <input type="text" class="form-control inputstyle" id="addusername" name="remark" >
                                                        </div>

                                                        <div class="modal-footer" style="background-color: #fff;text-align: center">
                                                            <button type="button" class="btn btn-default  btn-default btn-round " data-dismiss="modal">关闭</button>&nbsp;&nbsp;&nbsp;
                                                            <button type="submit" class="btn btn-default  btn-info btn-round ">提交</button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!-- /.page-header -->

                            <table cellspacing="0" cellpadding="0" width="100%" class="table table-striped table-bordered table-hover">
                                <tbody>
                                    <tr>
                                        <th>ID</th>
                                        <th>用户组名</th>
                                        <th>用户组描述</th>
                                        <th>创建时间</th>
                                        <th>操作</th>
                                    </tr>
                                    <!--数据行-->
                                    {if empty($authgroupres)}
                                        <tr><td colspan="5" align="center" style="height:60px;color:#666;">暂无数据</td></tr>
                                    {else/}
                                    {volist name='$authgroupres' id='authgroup'}
                                    <tr>
                                        <td>{$authgroup.id}</td>
                                        <td>{$authgroup.title}</td>
                                        <td>{$authgroup.remark}</td>
                                        <td>{$authgroup.create_time}</td>
                                        <td>
                                            <div>

                                                <button type="button" class="btn btn-mini  btn-info btn-round"  onclick="javascript:window.location.href= '{:url('authgroup/edit',['groupid'=>$authgroup.id])}' "><i class="ace-icon fa fa-pencil-square-o "></i>编辑</button>
                                            <button type="button" class="btn btn-mini  btn-danger btn-round" onclick="redirect('{:url('authgroup/del',['groupid'=>$authgroup.id])}')" ><i class="ace-icon fa fa-times-circle "></i>删除</button>
                                                <div class="modal fade" id="exampleModal{$authgroup.id}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
                                                    <div class="modal-dialog" role="document">

                                                        <div class="modal-content" style="width:350px;margin:180px auto" >
                                                            <div class="modal-body">
                                                                <div class="modal-header">
                                                                    <h4 class="modal-title" id="myModalLabel"> 编辑用户组</h4></div><br>
                                                                <form action="{:url('authgroup/edit')}" method="POST" id="addsubmit" onsubmit="return validate(this)">
                                                                    <div class="form-group" >
                                                                        <label  for class="control-label ml35">用户组名11:</label>
                                                                        <input type="text" class="form-control inputstyle" id="addusername" name="title" value="{$authgroup.title}" >
                                                                    </div>

                                                                    <div class="form-group" >
                                                                        <label  for class="control-label ml35">用户组描述:</label>
                                                                        <input type="text" class="form-control inputstyle" id="addusername" name="remark" value="{$authgroup.remark}" >
                                                                    </div>

                                                                    <input type="hidden" name="id" value="{$authgroup.id}">
                                                                    <div class="modal-footer" style="background-color: #fff;text-align: center">
                                                                        <button type="button" class="btn btn-default  btn-default btn-round " data-dismiss="modal">关闭</button>&nbsp;&nbsp;&nbsp;
                                                                        <button type="submit" class="btn btn-default  btn-info btn-round ">提交</button>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                        </td>
                                    </tr>
                                {/volist}
                                {/if}
                                </tbody>
                            </table>
                        <div style="float:right;padding-top:10px;">
                            {$authgroupres->render()}
                        </div>
                    </div>
                </div>
            </div><!-- /.page-content -->
        </div>
    </div><!-- /.main-content -->
</div><!-- /.main-container -->

<script>

    function validate (theform){
        var addusername = $('#addusername').val();
        var adduserpwd = $('#adduserpwd').val();
//        if(addusername == '' ){
//            Msg('用户名不能为空');
//            return false;
//        }
//        if(adduserpwd == '' ){
//            Msg('密码不能为空');
//            return false;
//        }
        return true;
    }
    function edit_validate (theform){
        var editusername = $('#editusername').val();
        var editpwd = $('#editpwd').val();

//        if(editusername == '' ){
//            Msg('用户名不能为空');
//            return false;
//        }
//        if(editpwd == '' ){
//            Msg('密码不能为空');
//            return false;
//        }
        return true;
    }
    function redirect(url){
        var i = window.confirm("确定要删除？");
        if(i==true){
            window.location= url;
        }else{
            return false;
        }
    }


</script>