/*
Basic styles used by voteitup plugin features
Styles defined here overrides the styles of voteitup skins
This file do not store styles used by voteitup widgets
*/

/* Registration box */
.regcontainerbackground {
background-color: #CCCCCC;
opacity:0.4;
filter:alpha(opacity=40);
position: fixed;
width: 100%;
height: 100%;
top: 0%;
left: 0px;
}
.regcontainer {
display: none; /* do not show immediately */
position: fixed; /* align with browser window */
width: 100%;
height: 100%;
top: 0%;
left: 0px;
text-align: center;
}
.regpopup {
position: relative;
margin: auto;
width: 40%;
/*height: 20%;*/
padding: 4px;
top: 30%;
border: 1px solid #CCCCCC;
background-color: #FFFFFF;
color: #333333;
font-size: 16px;
font-family: arial;
}
.regpopup a {
/*color: #0000FF;*/
}
.regpopup h3 {
font-size: 18px;
font-weight: normal;
color: #E37400;
padding: 0px;
margin: 4px;
}
.regclosebutton {
float: right;
width: 16px;
height: 16px;
border: 0px;
padding: 1px;
}
.regsmalltext {
font-size: 8px;
text-align: right;
padding: 0px;
margin: 0px;
}