<!-- leftside -->
<div id="sidebar" class="sidebar                  responsive">
    <ul class="nav nav-list">
        <li class="{$currenAction =='index/index'?'active' : ''}">
            <a href="{:url('index/index')}">
                <i class="menu-icon fa fa-tachometer"></i>
                <span class="menu-text"> 首页 </span>
            </a>

            <b class="arrow"></b>
        </li>

        <li class="open ">
            <a href="#" class="dropdown-toggle">
                <i class="menu-icon fa fa-desktop"></i>
                <span class="menu-text">数据管理</span>
                <b class="arrow fa fa-angle-down"></b>
            </a>

            <b class="arrow"></b>

            <ul class="submenu">
                <li class="{$currentAction =='robot/add'?'active' : ''}">
                    <a href="{:url('robot/add')}">
                        <i class="menu-icon fa fa-caret-right"></i>
                        创建数据源
                    </a>

                    <b class="arrow"></b>
                </li>

                <li class="{$currentAction =='robot/robotlist'?'active' : ''}">
                    <a href="{:url('robot/index')}">
                        <i class="menu-icon fa fa-caret-right"></i>
                        数据源列表
                    </a>

                    <b class="arrow"></b>
                </li>
            </ul>
        </li>
        <li class="open">
            <a href="#" class="dropdown-toggle">

                <i class="menu-icon fa fa-user"></i>
                <span class="menu-text">用户管理</span>
                <b class="arrow fa fa-angle-down"></b>
            </a>
            <b class="arrow"></b>
            <ul class="submenu">
                <li class="{$currentAction =='user/profile'?'active' : ''}">
                    <a href="{:url('user/profile')}">
                        <i class="menu-icon fa fa-caret-right"></i>
                        我的面板
                    </a>
                    <b class="arrow"></b>
                </li>
                <li class="{$currentAction =='user/index'?'active' : ''}">
                    <a href="{:url('user/index')}">
                        <i class="menu-icon fa fa-caret-right"></i>
                        用户列表
                    </a>
                    <b class="arrow"></b>
                </li>

            </ul>
        </li>

        <li class="open">
            <a href="#" class="dropdown-toggle">

                <i class="menu-icon fa fa-cog"></i>
                <span class="menu-text">系统配置</span>
                <b class="arrow fa fa-angle-down"></b>
            </a>
            <b class="arrow"></b>
            <ul class="submenu">
                <li class="{$currentAction =='sysconf/sysset'?'active' : ''}">
                    <a href="{:url('sysconf/sysset')}">
                        <i class="menu-icon fa fa-caret-right"></i>
                        站点设置
                    </a>
                    <b class="arrow"></b>
                </li>
                <li class="hide {$currentAction =='sysconf/index'?'active' : ''}">
                    <a href="{:url('sysconf/index')}">
                        <i class="menu-icon fa fa-caret-right"></i>
                        权限设置
                    </a>
                    <b class="arrow"></b>
                </li>
                <li class="hide {$currentAction =='sysconf/menuset'?'active' : ''}">
                    <a href="{:url('sysconf/menuset')}">
                        <i class="menu-icon fa fa-caret-right"></i>
                        菜单设置
                    </a>
                    <b class="arrow"></b>
                </li>

            </ul>
        </li>
    </ul><!-- /.nav-list -->

    <!-- #section:basics/sidebar.layout.minimize -->
    <div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
        <i class="ace-icon fa fa-angle-double-left" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
    </div>


</div> <!-- leftside end -->