<!-- 头部 -->
{include file="public/top" /}
<style>
    .level{
        width: 60px;
        height: 60px;
        border-radius: 13px;
        background-color: #fee188;
        color:#fff;
        font-size:25px;
        font-weight:bold;
        line-height:60px;
        text-align: center;
        margin-left:20px;
    }
.border_bottom{
    border-bottom: 1px dashed #bcc;
    margin-top:20px;
    padding-bottom: 5px;
}
</style>
<!-- /头部 -->
<div class="main-container" id="main-container">
    <!-- left -->
    {include file="public/left" /}
    <!-- /left -->
    <!-- /section:basics/sidebar -->
    <div class="main-content">
        <div class="main-content-inner">
            <!-- #section:basics/content.breadcrumbs -->
            <div class="breadcrumbs" id="breadcrumbs">
                <script type="text/javascript">
                    try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
                </script>
                <ul class="breadcrumb">
                    <li>
                        <i class="ace-icon fa fa-home home-icon"></i> <a href="#">首页</a>
                    </li>
                    <li><a href="#">用户管理</a></li>
                    <li class="active">我的面板</li>
                </ul>
                <!-- /.nav-search -->
            </div>

            <div class="page-content">
                <div class="page-header">
                    <div class="row">
                        <div class="col-md-6">
                            <h1>
                                我的面板
                                <small>
                                    <i class="ace-icon fa fa-angle-double-right"></i>
                                    查看管理我的会员信息
                                </small>
                            </h1>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 center">
                    <div>
                        <!-- #section:pages/profile.picture -->
                        <span class="profile-picture">
            <img id="avatar0" class="editable img-responsive editable-click editable-empty" alt="" src="__ADMIN__/image/profile-pic.jpg">
        </span>
                        <!-- /section:pages/profile.picture -->
                        <div class="space-2"></div>
                        <div class="width-80 label label-primary label-xlg arrowed-in arrowed-in-right">
                            <div class="inline position-relative">
                                <a href="#" class="user-title-label dropdown-toggle" data-toggle="dropdown">
                                    <i class="ace-icon fa fa-circle light-green"></i>
                                    &nbsp;
                                    <span class="white">{$Think.session.username} </span>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="space-2"></div>
                    {if condition="$lv neq ''"}
                    <!-- #section:pages/profile.contact -->
                    <div class="profile-contact-info">
                        <div class="profile-contact-links">
                            
                            <div class="profile-info-row">
                                <div class="profile-info-name" style="width: 40%">最近登录: </div>

                                <div class="profile-info-value">{$Think.session.userinfo.last_login_time}</div>
                            </div>
                            <div class="profile-info-row">
                                <div class="profile-info-name" style="width: 40%"> 注册时间: </div>
                                <div class="profile-info-value"> {$Think.session.userinfo.create_time}</div>
                            </div>
                        </div>
                        <div class="space-6"></div>
                    </div>
                    {/if}
                    <!-- /section:pages/profile.contact -->
                </div>
                <div class="col-xs-12 col-sm-8">
                    <div class="profile-user-info profile-user-info-striped">
                        <div class="profile-info-row">
                            <div class="profile-info-name"> 用户名 </div>
                            <div class="profile-info-value">&nbsp;&nbsp;{$Think.session.username} &nbsp;</div>
                        </div>
                        <div class="profile-info-row">
                            <div class="profile-info-name"> 昵称 </div>
                            <div class="profile-info-value">&nbsp;&nbsp;{$Think.session.userinfo.nickname} &nbsp;</div>
                        </div>

                        <div class="profile-info-row">
                            <div class="profile-info-name"> 用户组 </div>
                            <div class="profile-info-value">&nbsp;&nbsp;{$Think.session.userinfo.user_type} &nbsp;</div>
                        </div>
                        <div class="profile-info-row">
                            <div class="profile-info-name"> 密码 </div>
                            <div class="profile-info-value">&nbsp;&nbsp;<a href="{:url('user/resetpwd')}">修改密码</a>&nbsp;</div>
                        </div>
                        {if condition="$lv neq ''"}
                        <div class="profile-info-row" >
                            <div class="profile-info-name" > 云采集引擎 </div>
                            <div class="widget-body" >
                                <div class="widget-main" >
                                    {if condition="$Think.session.userinfo.user_type eq 3"}
                                    <div class="profile-info-value">
                                        <span class="label label-warning">{$lv}</span>&nbsp;
                                        <span class="grey middle"><i class="fa fa-calendar"></i> {if condition="$lv eq 'LV1'"}永不到期{else /}{$finndy.robotverdeadline|date='Y-m-d',###}{/if}</span>
                                        <button onclick="alert('请登录发源地官方网站(http://www.finndy.com)升级账号')" class="btn btn-mini btn-white btn-info middle" type="button" style="padding:3px 6px;">续费/升级</button>
                                    </div>
                                    {/if}
                                    <div class="col-xs-12 col-md-8">
                                        <div  class="border_bottom">
                                            <div style="float:left">并发采集线程数量</div>
                                            <div style="float:right">{$finndy._vpernum}个 </div>
                                            <div class="clearfix "></div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-md-8">
                                        <div class="border_bottom">
                                            <div style="float:left">单词采集数据条数</div>
                                            <div style="float:right">{$finndy._vallnum}万 </div>
                                            <div class="clearfix "></div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-md-8">
                                        <div  class="border_bottom">
                                            <div style="float:left">全球高匿名分布节点</div>
                                            <div style="float:right">{$finndy._vallnode}个
                                            </div>
                                            <div class="clearfix "></div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-md-8">
                                        <div  class="border_bottom" style="margin-bottom: 20px;">
                                            <div style="float:left">请求间隔频率</div>
                                            <div style="float:right">{$finndy._vintervals/1000}秒 </div>
                                            <div class="clearfix "></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {/if}

                    </div>
                    <div class="space-12"></div>
                </div>

            </div><!-- /.page-content -->


        </div>
    </div><!-- /.main-content -->




</div><!-- /.main-container -->

