{extend name="public/base"/}
{block name="main"}
<h2 class="text-center">安装完成</h2>
<div class="row margin-top">
	<div class="col-sm-6">
		<ul class="list-group">
			<li class="list-group-item"><a href="http://www.finndy.com" target="_blank">Finndy官网</a></li>
			<li class="list-group-item"><a href="https://gitee.com/finndy/cloud.git" target="_blank">Finndy cloud PHP版本库</a></li>
		</ul>
	</div>
	<div class="col-sm-6">
		<ul class="list-group">
			<li class="list-group-item"><a href="https://www.kancloud.cn" target="_blank">THINKPHP开发文档</a></li>
			<li class="list-group-item"><a href="https://www.kancloud.cn" target="_blank">PHP交流社区</a></li>
		</ul>
	</div>
</div>

<hr>
<div class="margin-top">
	<div class="text-center">
	    <a class="btn btn-primary" target="_blank" href="/admin/">登录后台</a>
	    <a class="btn btn-success" target="_blank" href="/">访问首页</a>
	</div>
</div>
{/block}