{extend name="public/base"/}
{block name="main"}
<h2 class="text-center">安装完成</h2>
<div class="row margin-top">
	<div class="col-sm-6">
		<ul class="list-group">
			<li class="list-group-item"><a href="http://www.finndy.com" target="_blank">Finndy官网</a></li>
			<li class="list-group-item"><a href="https://github.com/finndy/finndycloud" target="_blank">GitHub代码库</a></li>
		</ul>
	</div>
	<div class="col-sm-6">
		<ul class="list-group">
			<li class="list-group-item"><a href="https://www.kancloud.cn/manual/thinkphp5" target="_blank">ThinkPHP开发文档</a></li>
			<li class="list-group-item"><a href="http://www.thinkphp.cn/" target="_blank">ThinkPHP交流社区</a></li>
		</ul>
	</div>
</div>

<hr>
<div class="margin-top">
	<div class="text-center">
	    <a class="btn btn-primary" target="_blank" href="{:url('admin/Index/Index')}">登录后台</a>&nbsp;&nbsp;&nbsp;&nbsp;
	    <a class="btn btn-success" target="_blank" href="/">访问首页</a>
	</div>
</div>
{/block}